h1 {
    font-family: 'Open Sans', Roboto, sans-serif;
    font-size: 72px;
    font-weight: 800;
}
h2 {
    font-family: 'Open Sans', Roboto, sans-serif;
    font-size: 60;
    font-weight: 700;
}
h3 {
    font-family: 'Open Sans', Roboto, sans-serif;
    font-size: 48;
    font-weight: 600;
}
h4 {
    font-family: 'Open Sans', Roboto, sans-serif;
    font-size: 36;
    font-weight: 500;
}

body {
    font-family: 'Open Sans', Roboto, sans-serif;
    font-size: 24;
}
li {
    font-family: 'Open Sans', Roboto, sans-serif;
    font-size: 24;
}
img {
    border-radius: 0px;
}
